body {
  background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
  background-repeat: no-repeat;
  background-size: 100px;
  height: 98vh;
  background-position: center center;
}